In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
sns.set(style="darkgrid")
def convert_to_number(series,start=0):
    return series.loc[start:].replace(to_replace=r'[,]',value='.', regex=True).astype(float)

In [27]:
df = pd.read_csv('../../data/40/data_40.csv')

In [28]:
for i in df:
    df[i] = convert_to_number(df[i])
df

        H_max     B_max       B_r          μ_r         H_c
0  455.933426  1.524868  1.386243  2661.465713  134.098066
1  423.060483  1.386243  1.247619  2607.517084  132.206401
2  381.326138  1.247619  1.108995  2603.607763  108.950325
3  354.170228  1.108995  0.970370  2491.767738  108.975455
4  320.153879  0.970370  0.831746  2411.953303  116.419592
5  293.569673  0.970370  0.693122  2630.367769   88.070902
6  261.268433  0.831746  0.554497  2533.342637   97.975662
7  232.969117  0.693122  0.415873  2367.561524  116.484559
8  207.528318  0.693122  0.277249  2657.799783   83.011327
9  174.083672  0.554497  0.277249  2534.729251   87.041836

In [29]:
import math

N_1 = 9500 # number of turns
N_2 = 1400 # number of turns
S = 81 # mm^2
l = 4.7 # cm
R_1 = 203 # Ohm
R_2 = 786 * math.pow(10, 3) # Ohm
C = math.pow(10, -7) # Farad
mu_0 = 4 * math.pi * math.pow(10, -7) # Turn / Ampere^2

In [37]:
data = pd.read_excel(r'../../data/40/cw40data.xlsx')
df2 = pd.DataFrame(data, columns= ['i_sk [mA]', 'w_x [V/dz]', 'w_y [V/dz]', 'X [dzialki]', 'Y [dzialki]', 'Xc [dzialki]'
                                  , 'Yr [dzialki]'])

df2 = df2[:10]


df2

,i_sk [mA],w_x [V/dz],w_y [V/dz],X [dzialki],Y [dzialki],Xc [dzialki],Yr [dzialki]
0,1.595,0.2,0.2,11,17,5,10
1,1.48,0.2,0.2,10,16,5,9
2,1.334,0.2,0.2,9,14,4,8
3,1.239,0.2,0.2,8,13,4,7
4,1.12,0.2,0.2,7,11,4,6
5,1.027,0.2,0.2,7,10,3,5
6,0.914,0.2,0.2,6,8,3,4
7,0.815,0.2,0.2,5,6,3,3
8,0.726,0.2,0.2,5,5,2,2
9,0.609,0.2,0.2,4,4,2,2

In [ ]:
df3 = pd.DataFrame

In [32]:
#sns.relplot(y='B_max', x='H_max', data=df, height=9)
#sns.relplot(y='μ_r', x='H_max', data=df, height=9)
#sns.relplot(y='B_r', x='H_max', data=df, height=9)
#sns.relplot(y='H_c', x='H_max', data=df, height=9)